@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.create-room-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.create-room-form__error {
    font-size: 11px;
    color: indianred;
}

.create-room-button__arrow {
    color: #ffffff;
}
