.header {
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    margin: 30px;
    width: 45px;
    height: 45px;
    background: url("../../public/game-logo.png") center no-repeat rgba(158, 158, 158, 0.1);
    border-radius: 15px;
}

.header__user-icon {
    margin: 30px;
}

.hidden {
    display: none;
}
